/*Se añade fuente solicitada en el ejercicio, pero se añade el enlace en
la página principla index.html*/
body{
  font-family: 'Dancing Script',cursive;
}
/******/
/*Se elimina el estilo de subyadao que viene por defecto para los enlaces*/
a.enlace{
  text-decoration: none;
}
/******/
/*Se añade la caja a «Header»*/
header{
  background-color: #5b7989;
  height: 120px;
  width: 100%;
  border-radius: 10px 10px 0 0;
}
/******/
/*Se añade a la caja «Header»:
- color,
- bordes en las esquinas superiores y
- sombra.*/
h1{
  color: #02010a;
  text-shadow: 2px 2px #02010a;
}
/*******/
/*Se añade esta característica para que el título y los enlaces queden en
la misma línea*/
#header h1{
  display: inline;
}
/******/
/*Se añade la caja a «seccion/articule»*/
section article{
  background-color: #82c3a6;
  height: 400px;
  width: 80%;
}
/*******/

#seccion1{

}
#seccion2{

}
#seccion1p{

}
#seccion1r{

}
/******/
/*Se añade la caja a «footer»*/
footer{
  background-color: #C6d5c5;
  height: 100px;
  width: 100%;
  clear: both;
  border-radius: 0 0 10px 10px;
}
