/*Se añade fuente solicitada en el ejercicio, pero se añade el enlace en
la página principla index.html*/
body{
  font-family: 'Dancing Script',cursive;
}
/*******/
/*Se añade esta característica para que el título y los enlaces queden en
la misma línea*/
#header h1{
  display: inline;
}
/******/
/*Se elimina el estilo de subyadao que viene por defecto para los enlaces*/
a.enlace{
  text-decoration: none;
}
/*******/
/*Se le aplica alineado a la derecha, centrado en el «header», espaciado
entre palabra y palabra y espaciado entre letra y letra*/
#enlaces{
  margin-top: 36px;
  margin-right: 36px;
  height: 90%;
  float: right;
  letter-spacing: 1px;
  word-spacing: 30px;
  font-size: 30px;
}
/******/
/*Se añade la caja a «Header»*/
header{
  background-color: #5b7989;
  height: 120px;
  width: 100%;
  border-radius: 10px 10px 0 0;
}
/******/
/*Se añade a la caja «Header»:
- color,
- bordes en las esquinas superiores y
- sombra.*/
h1{
  font-size: 60px;
  color: white;
  text-shadow: 2px 2px #02010a;
  margin-top: 36px;
  margin-left: 36px;
}
/******/
/*Se añade la caja a «seccion/articule»
section article{
  background-color: #82c3a6;
  height: 400px;
  width: 80%;
}*/
/*******/
#contenido{
  display: flex;
}
#seccion1{
  background-color: #82c3a6;
  height: 800px;
  width: 1888px;
}
/******/
.pImg1{
  margin-top: 36px;
  margin-left: 200px;
  margin-right: 200px;
  height: 700px;
  width: 1500px;
}
/******/
/******/
.preImg2{
  width: 860px;
  height: 600px;
  margin-left: 36px;
  margin-right: 36px;
  margin-top: 36px;
  margin-bottom: 20px;
}
.preImg3{
  width: 860px;
  height: 600px;
  margin-left: 36px;
  margin-right: 36px;
  margin-top: 36px;
  margin-bottom: 20px;
}
#imagen2{
  float: left;
}
#imagen3{
  float: right;
}
#pj{
  text-align: center;
  font-size: 40px;
}
/******/

/******/
#seccion2{
  background-color: #d5c75f;
  height: 740px;
  width: 100%;
/******/
}
#seccion1p{
  background-color: #d5c75f;
  height: 880px;
  width: 100%;
}
/*******/
#seccion1r{
  background-color: #d5c75f;
  height: 880px;
  width: 100%;
}
/******/
/*Se añade la caja a «footer»*/
footer{
  background-color: #C6d5c5;
  height: 400px;
  width: 100%;
  clear: both;
  border-radius: 0 0 10px 10px;
}

/*******/
/*******/

/*
blog roll
*******/

#extras {
  margin: 0;
}

#extras ul{
  list-style: none;
  margin: 0;
}
#extras li{
  font-size: 1.429em;
  margin-bottom: 0;
  padding: 0 0;

}
#extras h2 {
	font-size: 3.429em;
	margin-bottom: .5em;
  margin-left: .5em;
	padding: 0 2px;
}

#extras a:hover, #extras a:active{

}
	#extras .blogroll{
		float: left;
		width: 470px;
	}
	#extras .blogroll li{
    margin: 0;
    width: 350px;
  }
	#extras .blogroll a:link, #extras .blogroll a:visited{
		color: black;
	}
  img.redes1{
    width: 10%;
    height: 10%;
  }
  img.redes2{
    width: 10%;
    height: 10%;
  }
  img.redes3{
    width: 10%;
    height: 10%;
  }
  /*******/
  /*Imágenes de paisajes*/
  div.img2{
    margin-top: 35px;
    text-align: left;
  	margin-left: 20px;
    margin-right: 50px;
  }
  div.img3{
    margin-top: 35px;
    text-align: right;
  	margin-right: 20px;
  }
  div.img4{
    margin-top: 35px;
    text-align: right;
  	margin-right: 25px;
    margin-left: 25px;
  }
  div.img5{
    margin-top: 35px;
    text-align: right;
  	margin-right: 25px;
    margin-left: 25px;
  }
  div.img6{
    margin-top: 35px;
    text-align: right;
  	margin-right: 25px;
    margin-left: 25px;
  }
  div.img7{
    margin-top: 35px;
    text-align: right;
  	margin-right: 25px;
    margin-left: 25px;
  }
  div.img8{
    margin-top: 35px;
    text-align: right;
  	margin-right: 25px;
    margin-left: 25px;
  }
  div.img9{
    margin-top: 35px;
    text-align: right;
  	margin-right: 25px;
    margin-left: 25px;
  }
/********/
.preImg2{
  width: 900px;
  height: 700px;

}
.preImg3{
  width: 900px;
  height: 700px;
}
.preImg4{
  width: 582px;
  height: 382px;
}
.preImg5{
  width: 582px;
  height: 382px;
}
.preImg6{
  width: 582px;
  height: 382px;
}
.preImg7{
  width: 582px;
  height: 382px;
}
.preImg8{
  width: 582px;
  height: 382px;
}
.preImg9{
  width: 582px;
  height: 382px;
}
